
.myAcc {
    text-align: left !important;
    color: #0858f7 !important;
    text-transform: capitalize !important;
  }
  .myAcc .userImg {
    width: 40px;
    height: 40px;
    cursor: pointer;
    border: 1px solid #0858f7;
    padding: 2px;
    overflow: hidden;
    border-radius: 100%;
  }
  .myAcc .userImg .rounded-circle{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
  }
  
  .myAcc .userImg .rounded-circle img{
    object-fit: cover;
    width: 100%;
    height: 100%;
  }
  
  .myAcc .userInfo {
    padding-left: 10%;
  }
  .myAcc .userInfo h4 {
    font-size: 15px;
    font-weight: 600;
    margin-bottom: 0px;
    color: #292929;
  }
  .myAcc .userInfo p {margin-top: 0px; font-size: 12px; color:#000000; opacity: 0.7}

  .myAcc li{
    font-size: 14px !important;
    padding: 12px 15px !important;
  }
  .myAcc li svg{
    font-size: 15px !important;
  }